.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:focus,
button:focus{
    outline: none;
}

.time__input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.time__input p{
    font-size: 5em;
    margin: 0;
    margin-top: -0.75em;
}
.hour__input,
.minute__input,
.second__input{
    width: 120px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    padding: 0.25em 0.1em;
    font-size: 4em;
    margin: 0 0.2em 0.5em;
    background-color: transparent;
}
.time__input::placeholder{
    color: #ffffff !important;
}

.start__button{
    border: none;
    background-color: #aaaaaa70;
    color: #ffffff;
    padding: 0.75em 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.start__button:hover{
    background-color: #d6d6d670;
    cursor: pointer;
}
.start__button svg{
    height: 20px;
    margin-left: 0.5em;
}