.timer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer p{
    padding: 0 0.2em;
    font-size: 5em;
}

.time-control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play__button,
.resume__button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 1em;
}
.play__button svg,
.resume__button svg{
    width: 40px;
    color: #ffffff !important;

}