.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.timer p{
    padding: 0 0.2em;
}

.play__button{
    background-color: transparent;
    border: none;
}
.play__button svg{
    width: 30px;
    color: #ffffff !important;

}